
{% extends 'base.html.twig' %}


{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block body %}

        <h1>Bohužel stránka nenalezena</h1>
        <h2>Zkuste nálézt správnou stránku z <a href="{{ path('homepage') }}">Úvodu</a>.</h2>

        <div>
            Případne chybu nahlaste prosím na email: <a href="mailto:admin@nasweb.cz">admin@nasweb.cz</a>
            {# @todo zajistit od copywritera lepší text #}
        </div>

{% endblock %}