
{% extends 'base.html.twig' %}


{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block body %}

        <h1>Chyba server</h1>
        <h2>Něco se nám rozbilo - Zkuste to z <a href="{{ path('homepage') }}">Úvodu</a>.</h2>

        <div>
            V případě opakující se chyby nás kontaktujte na email: <a href="mailto:admin@nasweb.cz">admin@nasweb.cz</a>
            {# @todo zajistit od copywritera lepší text #}
        </div>

{% endblock %}