<div class="col-lg-12">
    <table class="table table-bordered table-striped">
        <caption><h3>Využijte zlevněné ceny</h3></caption>
        <thead>
        <tr>
            <th>Kod</th>
            <th>Kategorie</th>
            <th>Zlevnená cena</th>
            <th>Název kurzu</th>
            <th>datum vytvoreni</th>
            <th>objednat</th>
        </tr>
        </thead>

        <tbody>
        {% if courses|length > 0 %}
            {% for course in courses %}
                <tr>
                    <td>{{ course.couCode }}</td>
                    <td>{% for cat in course.categories %}
                            {{ cat.catName }}
                        {% endfor %}
                    </td>
                    <td>{{ course.couSale }}</td>
                    <td>{{ course.couName }}</td>
                    <td>{{ course.couFrom|date('Y-m-d') }}</td>
                    <td>{{ include('snipeds/course_detail.html.twig',{ 'courseName': course.couName, 'courseCode':course.couCode  } ) }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>

    </table>
</div>