<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Ozajstné kurzy{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="..">Kurzy</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {% set path_from_route = app.request.attributes.get('_route') %}

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('homepage') }}">Úvod</a>
                </li>
                <li {% if path_from_route == 'kurz' %}class="active"{% endif %}>
                    <a href="{{ path('course') }}" >Nabídka kurzů</a>
                </li>
                <li {% if path_from_route == 'podminky' %}class="active"{% endif %}>
                    <a href="{{ path('conditions') }}" target="_blank" >Obchodní podmínky</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li {% if path_from_route == 'admin' %}class="active"{% endif %}>
                        <a href="{{ path('admin') }}" target="_blank">Administrace</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    {% block body %}{% endblock %}

    <hr>

    {{ include('footer.html.twig',{ 'year': 2015 } ) }}

</div>
<!-- /.container -->


{% block javascripts %}<!-- jQuery -->
<script src="{{ asset('js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>{% endblock %}
</body>
</html>
