{% extends 'base_simple.html.twig' %}
{% block title %}Podmínky{% endblock %}
{% block body %}
    <div class="hlavni-text">
        <!-- hlavni obsah stranek -->
        <h2 class="velky-nadpis">Cena týdenního kurzu Angličtina 2+ pro mírně/středně pokročilé</h2>

        <ul>
            <li><strong>Kurzovné</strong> činí <span class="new">5.390,- Kč</span> (<a href="#slevy" title="slevy">sleva</a> <span class="new">na 4.990,- Kč</span>) - intenzivní výuka po dobu jednoho týdne (45 hodin výuky) a občerstvení (káva, čaj) po celou dobu kurzu. <strong>Cena superlearningových studijních materiálů</strong> (učebnice, nahrávky studijních textů na audio CD, doplňkové materiály a výtahy ze studijních textů zasílané v elektronické podobě před absolvováním kurzu) činí <span class="new">569,- Kč</span>. (Cena studijních materiálů s mp3 nahrávkami místo audio CD činí <span class="new">469,- Kč</span>).</li>
            <li>Studijní materiály jsou nedílnou součástí kurzu. Platbu kurzovného a studijních materiálů lze provést dohromady či zvlášť. (Kurzovné je nutné uhradit před nástupem na kurz, studijní materiály při nástupu na kurz.)</li>
            <li>Platbu lze provést bankovním převodem či hotově v naší kanceláři na Anenském nám. 2, Praha 1 (<a href="http://www.altissima.cz/kontakt/#mapa" title="provozní doba">provozní doba</a>). Zálohovou fakturu vystavíme na vyžádání.</li>
            <li>Cenové podmínky jsou platné od <span class="new">7. 4. 2014</span>.</li>
        </ul>

        <h3 id="slevy">Slevy</h3>

        <h4>Sleva 1 – hotovostní či při včasné platbě</h4>
        <p><span class="new">Při platbě v hotovosti či včasné platbě (1 měsíc před zahájením kurzu) činí kurzovné 5.090,- Kč</span>. Tato cena nezahrnuje studijní materiály.</p>

        <h4>Sleva 2 – pro studenty Altissima</h4>
        <p><strong>Studenti našich kurzů</strong> mají nárok na <strong>slevu ve výši 300,- Kč</strong>, cena po slevě činí <strong>5.090,- Kč</strong> bez ohledu na způsob platby. (Tuto slevu lze uplatnit do 2 let od absolvování posledního kurzu.) Tato cena nezahrnuje studijní materiály.</p>

        <h4>Sleva 3 – pro fanoušky Altissimy na Facebooku</h4>
        <p><span class="new">Fanoušci Altissimy na Facebooku mají nárok na slevu 100,- Kč k jakékoli i zvýhodněné ceně kurzovného</span>. (Tuto slevu lze uplatnit na kurz s minimální hodnotou 2000,- Kč).</p>

        <h4>Sleva 4 – pro dvojice</h4>
        <p>Cenové zvýhodnění <strong>PRO DVOJICE</strong>! Pokud se přihlásí do jednoho jazykového kurzu společně 2 (či více) osob, činí kurzovné pouze <strong>4.890,- Kč</strong> na osobu! Tato cena nezahrnuje studijní materiály.</p>

        <h4>Sleva 5 – při opakované účasti na stejném kurzu</h4>
        <p>Pokud se <strong>opakovaně</strong> přihlásíte <strong>do stejného stupně kurzu</strong>, činí kurzovné pouze <strong>4.390,- Kč</strong>! (Tuto slevu lze uplatnit do 2 let od absolvování prvního z kurzů stejného stupně.)</p>

        <p><em>Jednotlivé slevy (kromě slevy 3) nelze kombinovat.</em></p>

        <h3>Storno podmínky</h3>

        <p>Vzhledem k tomu, že se snažíme vytvořit optimální počet účastníků ve skupině a rezervací blokujeme místa pro vážné zájemce, jsou v případě zrušení účasti na kurzu účtovány následující storno poplatky: Při zrušení účasti na kurzu ve lhůtě více než 30 dnů před zahájením kurzu je účtován poplatek ve výši 5 % z ceny kurzovného, při stornování jazykového kurzu ve lhůtě 30 - 14 dnů před jeho zahájením poplatek ve výši 25 % z ceny kurzovného. Při stornování jazykového kurzu ve lhůtě méně než 14 dnů před jeho zahájením je účtován storno poplatek ve výši 50 % z ceny kurzovného. Při neohlášeném nenastoupení na kurz nemá účastník nárok na vrácení kurzovného.</p>
        <h3>Přesunutí termínu kurzu</h3>
        <p>Pokud dojde během týdenního intenzivního kurzu k onemocnění účastníka kurzu, nabízíme možnost absolvovat kurz v jiném, po dohodě obou stran odsouhlaseném termínu.</p>
        <p>Pokud účastník kurzu přesouvá původně požadovaný jazykový kurz na jiný termín ve lhůtě 30 - 14 dnů před zahájením kurzu, je z důvodu přesunutí termínu účtován poplatek ve výši 500,- Kč a pro nový termín kurzu je účtována plná cena kurzovného, tzn. odpadá nárok na případné poskytnuté slevy. Při pozdějším přesouvání termínu kurzu platí výše uvedené stornovací podmínky.</p>
    </div>
{% endblock %}
