{% extends 'base.html.twig' %}
{% set title = 'Objednávka kurzu: ' ~ courseCode %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>{{ title }}</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseCode">Kód kurzu</label>

                <div class="col-md-4">
                    <input id="courseCode" name="courseCode" type="text" placeholder="" value="{{ courseCode }}"
                           class="form-control input-md" disabled>
                    <span class="help-block">tento kod si poznamenejte</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name_surname">Jméno a Příjmení</label>

                <div class="col-md-4">
                    <input id="name_surname" name="name_surname" type="text" placeholder="Jan Novák"
                           class="form-control input-md" required="">
                    <span class="help-block">to co máte na občance</span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="comment">Poznámka</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="comment" name="comment">něco co nám chcete vzkázat</textarea>
                </div>
            </div>

        </fieldset>
    </form>


{% endblock %}
