{% extends 'base.html.twig' %}
{% block title %}Nabídka kurzů!{% endblock %}
{% block body %}
    NAbidka kurzů
    <ul>
        {% for course in courses %}
            {% dump(course) %}
            <li>{{ include('snipeds/course_detail.html.twig',{ 'courseName': course.couName, 'courseCode':course.couCode  } ) }}</li>
        {% endfor %}
    </ul>
{% endblock %}
