{% extends 'base.html.twig' %}

{% block body %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Administrace</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->


    <!-- /.row -->
{% endblock %}
