{% extends 'base.html.twig' %}
{% set title = 'Faktury' %}
{% block body %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ title }}</h3>
        </div>
        <div class="col-lg-12">

        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->


    <!-- /.row -->
{% endblock %}
