{% extends 'base.html.twig' %}

{% block body %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Objednavky</h3>
        </div>
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>kod kurzu</th>
                    <th>email uživatele</th>
                    <th>datum vytvoreni</th>
                </tr>
                </thead>

                <tbody>
                {% if orders|length > 0 %}
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.ordId }}</td>
                            <td>{{ order.course.couCode }}</td>
                            <td>{{ order.user.useEmail }}</td>
                            <td>{{ order.ordCreate|date('Y-m-d') }}</td>
                        </tr>
                {% endfor %}
            {% endif %}
                </tbody>

            </table>
    </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->


    <!-- /.row -->
{% endblock %}
